* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #333;
}

section.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
section.post-list > .post {
  min-width: 700px;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: #565656;
}
section.post-list > .post > .title-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.312);
}
section.post-list > .post > .title-date > .time {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
}
section.post-list > .post > p {
  color: #ffffff;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}
section.post-list > .post > .reactions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
section.post-list > .post > .reactions > .reaction {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: #6a6a6a;
  color: #ffffff;
  border: none;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
section.post-list > .post > .reactions > .reaction:hover:not(.like-reaction, .heart-reaction, .dislike-reaction) {
  background-color: #5a5a5a;
}
section.post-list > .post > .reactions > .like-reaction {
  background-color: #078ce4;
}
section.post-list > .post > .reactions > .like-reaction:hover {
  background-color: #008cff;
}
section.post-list > .post > .reactions > .heart-reaction {
  background-color: #df2626;
}
section.post-list > .post > .reactions > .heart-reaction:hover {
  background-color: #ff0000;
}
section.post-list > .post > .reactions > .dislike-reaction {
  background-color: #0f0a0a;
}
section.post-list > .post > .reactions > .dislike-reaction:hover {
  background-color: #000000;
}

.add-post-form {
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.add-post-form > form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgba(152, 198, 238, 0.437);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 20px;
}
.add-post-form > form > input,
.add-post-form > form > textarea,
.add-post-form > form > button {
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  width: 100%;
  background-color: #a1abb9;
}
.add-post-form > form > textarea {
  resize: vertical;
}
.add-post-form > form > button {
  background-color: rgba(122, 229, 126, 0.5058823529);
  color: white;
  cursor: pointer;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
}
.add-post-form > form > button:hover {
  background-color: rgba(122, 229, 126, 0.6980392157);
}

.single-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.single-post-container > .single-post {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(248, 248, 248, 0.6980392157);
  color: rgb(50, 50, 50);
  border: 1px solid rgb(89, 89, 89);
}
.single-post-container > .single-post > .title-date {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 10px;
  gap: 30px;
}
.single-post-container > .single-post > .title-date > .time {
  color: rgb(79, 79, 79);
  font-size: 0.9rem;
  min-width: 100px;
  padding-top: 10px;
}
.single-post-container > .single-post > .post-body {
  margin-bottom: 20px;
}
.single-post-container > .single-post > .Author {
  margin-bottom: 10px;
  font-size: 1.1rem;
}
.single-post-container > .single-post > .reactions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.single-post-container > .single-post > .reactions > .reaction {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  background-color: #6a6a6a;
  color: #ffffff;
  border: none;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.single-post-container > .single-post > .reactions > .reaction:hover:not(.like-reaction, .heart-reaction, .dislike-reaction) {
  background-color: #5a5a5a;
}
.single-post-container > .single-post > .reactions > .like-reaction {
  background-color: #078ce4;
}
.single-post-container > .single-post > .reactions > .like-reaction:hover {
  background-color: #008cff;
}
.single-post-container > .single-post > .reactions > .heart-reaction {
  background-color: #df2626;
}
.single-post-container > .single-post > .reactions > .heart-reaction:hover {
  background-color: #ff0000;
}
.single-post-container > .single-post > .reactions > .dislike-reaction {
  background-color: #0f0a0a;
}
.single-post-container > .single-post > .reactions > .dislike-reaction:hover {
  background-color: #000000;
}

header {
  background-color: rgba(104, 104, 104, 0.8117647059);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > .logo {
  font-size: 2rem;
  color: rgb(74, 255, 234);
}
header > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header > ul > li {
  display: inline-block;
  margin-right: 20px;
}
header > ul > li > a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
  font-size: 1.2rem;
}

.post-edit-form {
  padding: 20px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.post-edit-form > form {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  color: rgba(0, 0, 0, 0.696);
  font-size: 1.8rem;
}
.post-edit-form > form > input,
.post-edit-form > form select,
.post-edit-form > form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border: none;
  outline: none;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.post-edit-form > form > textarea {
  height: 200px;
  font-size: 1.5rem;
  resize: vertical;
  margin-bottom: 20px;
  padding: 10px;
  text-align: justify;
}
.post-edit-form > form > button[type=submit] {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
  width: 100%;
}
.post-edit-form > form > button.delete-btn {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #be2525;
  color: #fff;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */