.post-edit-form {
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;

    >form {
        max-width: 1000px;
        min-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        color: rgba(0, 0, 0, 0.696);
        font-size: 1.8rem;

        >input,
        select,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            font-size: 1.5rem;
            border: none;
            outline: none;
            padding: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        >textarea {
            height: 200px;
            font-size: 1.5rem;
            resize: vertical;
            margin-bottom: 20px;
            padding: 10px;
            text-align: justify;
        }

        >button[type="submit"] {
            padding: 15px 30px;
            font-size: 1.2rem;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-bottom: 30px;
            width: 100%;
        }

        >button.delete-btn {
            padding: 15px 30px;
            font-size: 1.2rem;
            background-color: #be2525;
            color: #fff;
            border: none;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-bottom: 30px;
            width: 100%;
        }
    }

}