@use'../variables/color' as *;

// styles/base/_reset.scss
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// styles/base/_typography.scss
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: $light;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: bold;
}

// styles/base/_base.scss
html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: $dark;
}